@model List<Producto>
@{
    ViewData["Title"] = "Lista de Productos";
}
<h1>@ViewData["Title"]</h1>

<p>En esta página se muestran los productos</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.IdProducto</th>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Cantidad</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-warning" ><i class="bi bi-pencil"> Editar</i></button>
                        <button type="button" class="btn btn-success"><i class="bi bi-eye"> Ver</i></button>
                        <a asp-action="Delete" asp-route-IdProducto="@item.IdProducto" class="btn btn-danger"><i class="bi bi-x"> Eliminar</i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Quieres crear un nuevo producto? Click <a href='@Url.Action("Create","Producto")'>aquí</a></p>